# Top Items

In [131]:
import pandas as pd 

train_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/train/_annotations.csv") 
val_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/valid/_annotations.csv") 
test_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/test/_annotations.csv")  

train_df.shape, val_df.shape, test_df.shape

((2761, 8), (446, 8), (1402, 8))

In [132]:
data1_df = pd.concat([train_df, val_df, test_df]).reset_index(drop=True) 
data1_df.shape

(4609, 8)

In [133]:
data1_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,k211_jpg.rf.877137c915b2482e484056ceaa59f9a7.jpg,285,380,plain,99,53,264,306
1,g305_jpg.rf.8799784c02465ca48d0ca77460bb92fe.jpg,225,225,horizontal,30,7,191,187
2,e91_jpg.rf.87b04f7c00b5a8b7c288f79404684f5b.jpg,177,177,plaid,8,7,174,166
3,e293_jpg.rf.87c79d8c516672c91e9c8fca3c46bb48.jpg,198,254,plaid,5,19,189,226
4,i195_jpg.rf.87c9b5a0e68c7a5bfb6f6d40a8cf8352.jpg,206,244,plaid,15,13,195,228

In [134]:
data1_df['class'].value_counts()

plain         1049
plaid         1010
horizontal     960
vertical       808
block          782
Name: class, dtype: int64

In [135]:
top_df = pd.DataFrame(columns=data1_df.columns) 
for idx in data1_df['class'].value_counts().index: 
    top_df = pd.concat([
        top_df, 
        data1_df[data1_df['class'] == idx].sample(n=600)
    ])

top_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
4123,c124_jpg.rf.119adb42ea49efc79b5518e020a7d1d1.jpg,210,240,plain,2,2,209,237
2112,b350_jpg.rf.4b23ac9e64a388a26095edc764234d69.jpg,191,264,plain,21,74,178,253
1845,k101_jpg.rf.3441fd4bd8d0dcb900f81f62b5968351.jpg,225,225,plain,44,71,156,182
657,c230_jpg.rf.070b98a3c4ea096ec54eda500b8a6101.jpg,225,225,plain,32,23,193,191
938,k58_jpg.rf.f7bd13391fa0aa4e8b98c0cb9d3876a9.jpg,183,275,plain,38,58,148,175

In [136]:
top_df['class'].value_counts()

plain         600
plaid         600
horizontal    600
vertical      600
block         600
Name: class, dtype: int64

In [137]:
top_df["class"] = "top"

In [138]:
top_df = top_df.sample(frac=1)

# Bottom Items 
- new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow

In [139]:
train_df = pd.read_csv("../datasets/new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((323, 8), (87, 8), (47, 8))

In [140]:
data2_df = pd.concat([
    train_df, 
    val_df, 
    test_df
])

In [141]:
data2_df["class"].value_counts()

Tops          54
Jeans         54
Trousers      54
Shirts        53
Skirts        53
sunglasses    49
Jackets       49
Tshirts       46
Shoes         45
Name: class, dtype: int64

In [142]:
data2_df[data2_df["class"] == "Jeans"].shape, data2_df[data2_df["class"] == "Skirts"].shape, data2_df[data2_df["class"] == "Trousers"].shape,

((54, 8), (53, 8), (54, 8))

In [143]:
data2_df = data2_df[data2_df["class"].isin(["Jeans", "Skirts", "Trousers"])]

- Kursach.v3i.tensorflow

In [144]:
train_df = pd.read_csv("../datasets/Kursach.v3i.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/Kursach.v3i.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/Kursach.v3i.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((19158, 8), (1592, 8), (459, 8))

In [145]:
data3_df = pd.concat([
    train_df, 
    val_df, 
    test_df
])

data3_df.shape

(21209, 8)

In [146]:
data3_df[data3_df["class"] == 'pans'].shape, data3_df[data3_df["class"] == 'pantalones'].shape, data3_df[data3_df["class"] == 'leggins'].shape,  data3_df[data3_df["class"] == 'short'].shape,

((326, 8), (2077, 8), (4, 8), (84, 8))

In [147]:
data2_df = pd.concat([
    data2_df,
    data3_df[data3_df["class"] == 'pantalones'],
    data3_df[data3_df["class"] == 'leggins'],
    data3_df[data3_df["class"] == 'short']
]) 

data2_df.shape

(2326, 8)

- 1.v2i.tensorflow

In [148]:
train_df = pd.read_csv("../datasets/1.v2i.tensorflow/train/_annotations.csv")
test_df = pd.read_csv("../datasets/1.v2i.tensorflow/test/_annotations.csv")

train_df.shape, test_df.shape

((1593, 8), (934, 8))

In [149]:
data4_df = pd.concat([
    train_df, 
    test_df
])

data4_df.shape

(2527, 8)

In [150]:
data4_df["class"].value_counts()

shoes                 547
halfsleeve_t-shirt    284
fullsleeve_hoodies    251
red_party_wear        250
blue_party_wear       239
sleeveless            168
women                 147
roundneck             114
blue_denim            106
men                    89
black_pants            69
black_suit             56
vneck                  55
grey_suit              45
brown_suit             44
blue_suit              36
yellow_suit            23
denim                   2
black_denim             1
gery_suit               1
Name: class, dtype: int64

In [151]:
data2_df = pd.concat([
    data2_df, 
    data4_df[data4_df["class"].isin(["blue_denim", "black_pants", "denim"])] 
])

data2_df.shape

(2503, 8)

- task1.v2i.tensorflow

In [152]:
train_df = pd.read_csv("../datasets/task1.v2i.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/task1.v2i.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/task1.v2i.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((2125, 8), (232, 8), (125, 8))

In [153]:
data5_df = pd.concat([
    train_df, 
    val_df, 
    test_df
])

data5_df.shape

(2482, 8)

In [154]:
data5_df["class"].value_counts()

cabinet         300
monitor         245
orange-pants    239
white-pants     237
purple-pants    213
black-pants     212
blue-pants      211
red-pants       211
yellow-pants    206
green-pants     204
grey-pants      204
Name: class, dtype: int64

In [155]:
data5_df = data5_df[data5_df["class"].isin(list(filter(lambda x: "pants" in x ,data5_df["class"].value_counts().index.to_numpy())))]

In [156]:
data2_df = pd.concat([
    data2_df,
    data5_df.sample(n=600)    
])

data2_df.shape

(3103, 8)

In [157]:
data2_df["class"] = "bottom"

In [158]:
bottom_data = data2_df.sample(frac=1)

# Dress Items

- 1.v2i.tensorflow

In [159]:
train_df = pd.read_csv("../datasets/1.v2i.tensorflow/train/_annotations.csv")
test_df = pd.read_csv("../datasets/1.v2i.tensorflow/test/_annotations.csv")

train_df.shape, test_df.shape

((1593, 8), (934, 8))

In [160]:
data_dress_1 = pd.concat([train_df, 
                          test_df]) 
data_dress_1.shape

(2527, 8)

In [161]:
data_dress_1["class"].value_counts()

shoes                 547
halfsleeve_t-shirt    284
fullsleeve_hoodies    251
red_party_wear        250
blue_party_wear       239
sleeveless            168
women                 147
roundneck             114
blue_denim            106
men                    89
black_pants            69
black_suit             56
vneck                  55
grey_suit              45
brown_suit             44
blue_suit              36
yellow_suit            23
denim                   2
black_denim             1
gery_suit               1
Name: class, dtype: int64

In [162]:
data_dress = data_dress_1[data_dress_1["class"].isin(["red_party_wear", "blue_party_wear"])] 
data_dress.shape

(489, 8)

- custom object detection.v2-custom-objects.tensorflow

In [163]:
train_df = pd.read_csv("../datasets/custom object detection.v2-custom-objects.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/custom object detection.v2-custom-objects.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/custom object detection.v2-custom-objects.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((570, 8), (57, 8), (25, 8))

In [164]:
data_dress_2 = pd.concat([
    train_df, 
    val_df, 
    test_df
])
data_dress_2.shape

(652, 8)

In [165]:
data_dress_2["class"].value_counts()

shirt     187
dress     183
rugs      161
pillow    121
Name: class, dtype: int64

In [166]:
data_dress_2 = data_dress_2[data_dress_2["class"] == "dress"]
data_dress_2.shape

(183, 8)

In [167]:
data_dress = pd.concat([
    data_dress, 
    data_dress_2[data_dress_2["class"] == "dress"] 
])

data_dress.shape

(672, 8)

- clothes.v3-v3.tensorflow

In [168]:
train_df = pd.read_csv("../datasets/clothes.v3-v3.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/clothes.v3-v3.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/clothes.v3-v3.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((1199, 8), (99, 8), (128, 8))

In [169]:
data_dress_3 = pd.concat([
    train_df, 
    val_df, 
    test_df
])
data_dress_3.shape

(1426, 8)

In [170]:
data_dress_3["class"].value_counts()

clothes    1426
Name: class, dtype: int64

In [171]:
data_dress = pd.concat([
    data_dress, 
    data_dress_3 
])

data_dress.shape

(2098, 8)

In [172]:
data_dress["class"] = "dress"

In [173]:
data_dress = data_dress.sample(frac=1)

# Merge Data

In [174]:
data_dress_train = data_dress.iloc[:-300]
data_dress_val = data_dress.iloc[-300:]

data_dress_train.shape, data_dress_val.shape

((1798, 8), (300, 8))

In [175]:
bottom_data_train = bottom_data.iloc[:-300] 
bottom_data_val = bottom_data.iloc[-300:] 

bottom_data_train.shape, bottom_data_val.shape

((2803, 8), (300, 8))

In [176]:
top_data_train = top_df.iloc[:-300] 
top_data_val = top_df.iloc[-300:] 

top_data_train.shape, top_data_val.shape

((2700, 8), (300, 8))

In [177]:
train_data = pd.concat([
    data_dress_train,
    bottom_data_train, 
    top_data_train
]).sample(frac=1).reset_index(drop=True) 

val_data = pd.concat([
    data_dress_val,
    bottom_data_val, 
    top_data_val
]).sample(frac=1).reset_index(drop=True)  

train_data.shape, val_data.shape

((7301, 8), (900, 8))

In [184]:
train_data.to_csv("../datasets/traid_data_processed.csv")
val_data.to_csv("../datasets/val_data_processed.csv")

In [116]:
import os 

base_path = "../datasets/data_merge/"

for index, row in train_data.iterrows():
    print(os.path.join(base_path, ))
    




    break

z2229391143299_673ae70c49adec9eb5b6012d15b835b7_jpg.rf.9bfdff69d337663e2fc5e20e3a5fdc73.jpg

In [189]:
from prepare_data import parse_my_csv, modify_data 

train_dict = parse_my_csv("../datasets/traid_data_processed.csv") 
modify_data(train_dict, "../datasets/data_merge/", '../datasets/data_processed_train/')

Done saving annotations!