In [3]:
import pandas as pd 

train_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/train/_annotations.csv") 
val_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/valid/_annotations.csv") 
test_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/test/_annotations.csv")  

train_df.shape, val_df.shape, test_df.shape

((2761, 8), (446, 8), (1402, 8))

In [4]:
data1_df = pd.concat([train_df, val_df, test_df]).reset_index(drop=True) 
data1_df.shape

(4609, 8)

In [5]:
data1_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,k211_jpg.rf.877137c915b2482e484056ceaa59f9a7.jpg,285,380,plain,99,53,264,306
1,g305_jpg.rf.8799784c02465ca48d0ca77460bb92fe.jpg,225,225,horizontal,30,7,191,187
2,e91_jpg.rf.87b04f7c00b5a8b7c288f79404684f5b.jpg,177,177,plaid,8,7,174,166
3,e293_jpg.rf.87c79d8c516672c91e9c8fca3c46bb48.jpg,198,254,plaid,5,19,189,226
4,i195_jpg.rf.87c9b5a0e68c7a5bfb6f6d40a8cf8352.jpg,206,244,plaid,15,13,195,228

In [7]:
data1_df['class'].value_counts()

plain         1049
plaid         1010
horizontal     960
vertical       808
block          782
Name: class, dtype: int64

In [16]:
top_df = pd.DataFrame(columns=data1_df.columns) 
for idx in data1_df['class'].value_counts().index: 
    top_df = pd.concat([
        top_df, 
        data1_df[data1_df['class'] == idx].sample(n=600)
    ])

top_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
2817,c175_jpg.rf.257805e089d9ea8d659726ca6f0861c7.jpg,194,259,plain,21,75,184,259
4257,c93_jpg.rf.293793c21e5f9a131f14ef59fadd29a3.jpg,195,259,plain,9,31,188,227
2200,b73_jpg.rf.c163106e88eb680b597deec722a083e1.jpg,194,259,plain,31,58,152,206
1079,b399_jpg.rf.5925da243e7c349ebe152cc04cf865ea.jpg,188,268,plain,37,79,144,226
1911,k253_jpg.rf.3928b6bbda4171aca2a4175c6e6fde06.jpg,285,380,plain,39,144,171,256

In [18]:
top_df['class'].value_counts()

plain         600
plaid         600
horizontal    600
vertical      600
block         600
Name: class, dtype: int64