# Top Items

In [50]:
import pandas as pd 

train_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/train/_annotations.csv") 
val_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/valid/_annotations.csv") 
test_df = pd.read_csv("../datasets/clothes detect.v5i.tensorflow/test/_annotations.csv")  

train_df.shape, val_df.shape, test_df.shape

((2761, 8), (446, 8), (1402, 8))

In [51]:
data1_df = pd.concat([train_df, val_df, test_df]).reset_index(drop=True) 
data1_df.shape

(4609, 8)

In [52]:
data1_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,k211_jpg.rf.877137c915b2482e484056ceaa59f9a7.jpg,285,380,plain,99,53,264,306
1,g305_jpg.rf.8799784c02465ca48d0ca77460bb92fe.jpg,225,225,horizontal,30,7,191,187
2,e91_jpg.rf.87b04f7c00b5a8b7c288f79404684f5b.jpg,177,177,plaid,8,7,174,166
3,e293_jpg.rf.87c79d8c516672c91e9c8fca3c46bb48.jpg,198,254,plaid,5,19,189,226
4,i195_jpg.rf.87c9b5a0e68c7a5bfb6f6d40a8cf8352.jpg,206,244,plaid,15,13,195,228

In [53]:
data1_df['class'].value_counts()

plain         1049
plaid         1010
horizontal     960
vertical       808
block          782
Name: class, dtype: int64

In [54]:
top_df = pd.DataFrame(columns=data1_df.columns) 
for idx in data1_df['class'].value_counts().index: 
    top_df = pd.concat([
        top_df, 
        data1_df[data1_df['class'] == idx].sample(n=600)
    ])

top_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
2000,b54_jpg.rf.41457deb40bebc866d90bc882278feb6.jpg,194,259,plain,42,60,149,215
388,c139_jpg.rf.aa6957ac847d103289615c2c7b1de718.jpg,183,275,plain,29,60,162,216
1756,b206_jpg.rf.2ca877edca1eda7612f86ab3333bfd23.jpg,238,212,plain,70,46,175,203
337,c268_jpg.rf.a8f7c0e817f535dcb8f18a1752ebeed0.jpg,225,225,plain,66,52,167,197
2099,b308_jpg.rf.4b715535a4b2d34f4a7f119f3561e3fa.jpg,198,254,plain,32,20,155,184

In [55]:
top_df['class'].value_counts()

plain         600
plaid         600
horizontal    600
vertical      600
block         600
Name: class, dtype: int64

# Bottom Items 
- new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow

In [56]:
train_df = pd.read_csv("../datasets/new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/new_clothesYOLO.v1-clothing_pascal_yolo_2022-04-22.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((323, 8), (87, 8), (47, 8))

In [57]:
data2_df = pd.concat([
    train_df, 
    val_df, 
    test_df
])

In [58]:
data2_df["class"].value_counts()

Tops          54
Jeans         54
Trousers      54
Shirts        53
Skirts        53
sunglasses    49
Jackets       49
Tshirts       46
Shoes         45
Name: class, dtype: int64

In [59]:
data2_df[data2_df["class"] == "Jeans"].shape, data2_df[data2_df["class"] == "Skirts"].shape, data2_df[data2_df["class"] == "Trousers"].shape,

((54, 8), (53, 8), (54, 8))

In [60]:
data2_df = data2_df[data2_df["class"].isin(["Jeans", "Skirts", "Trousers"])]

- Kursach.v3i.tensorflow

In [61]:
train_df = pd.read_csv("../datasets/Kursach.v3i.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/Kursach.v3i.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/Kursach.v3i.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((19158, 8), (1592, 8), (459, 8))

In [62]:
data3_df = pd.concat([
    train_df, 
    val_df, 
    test_df
])

data3_df.shape

(21209, 8)

In [63]:
data3_df[data3_df["class"] == 'pans'].shape, data3_df[data3_df["class"] == 'pantalones'].shape, data3_df[data3_df["class"] == 'leggins'].shape,  data3_df[data3_df["class"] == 'short'].shape,

((326, 8), (2077, 8), (4, 8), (84, 8))

In [64]:
data2_df = pd.concat([
    data2_df,
    data3_df[data3_df["class"] == 'pantalones'],
    data3_df[data3_df["class"] == 'leggins'],
    data3_df[data3_df["class"] == 'short']
]) 

data2_df.shape

(2326, 8)

- 1.v2i.tensorflow

In [65]:
train_df = pd.read_csv("../datasets/1.v2i.tensorflow/train/_annotations.csv")
test_df = pd.read_csv("../datasets/1.v2i.tensorflow/test/_annotations.csv")

train_df.shape, test_df.shape

((1593, 8), (934, 8))

In [66]:
data4_df = pd.concat([
    train_df, 
    test_df
])

data4_df.shape

(2527, 8)

In [67]:
data4_df["class"].value_counts()

shoes                 547
halfsleeve_t-shirt    284
fullsleeve_hoodies    251
red_party_wear        250
blue_party_wear       239
sleeveless            168
women                 147
roundneck             114
blue_denim            106
men                    89
black_pants            69
black_suit             56
vneck                  55
grey_suit              45
brown_suit             44
blue_suit              36
yellow_suit            23
denim                   2
black_denim             1
gery_suit               1
Name: class, dtype: int64

In [68]:
data2_df = pd.concat([
    data2_df, 
    data4_df[data4_df["class"].isin(["blue_denim", "black_pants", "denim"])] 
])

data2_df.shape

(2503, 8)

- task1.v2i.tensorflow

In [69]:
train_df = pd.read_csv("../datasets/task1.v2i.tensorflow/train/_annotations.csv")
val_df = pd.read_csv("../datasets/task1.v2i.tensorflow/valid/_annotations.csv")
test_df = pd.read_csv("../datasets/task1.v2i.tensorflow/test/_annotations.csv")

train_df.shape, val_df.shape, test_df.shape

((2125, 8), (232, 8), (125, 8))

In [70]:
data5_df = pd.concat([
    train_df, 
    val_df, 
    test_df
])

data5_df.shape

(2482, 8)

In [71]:
data5_df["class"].value_counts()

cabinet         300
monitor         245
orange-pants    239
white-pants     237
purple-pants    213
black-pants     212
blue-pants      211
red-pants       211
yellow-pants    206
green-pants     204
grey-pants      204
Name: class, dtype: int64

In [72]:
data5_df = data5_df[data5_df["class"].isin(list(filter(lambda x: "pants" in x ,data5_df["class"].value_counts().index.to_numpy())))]

In [73]:
data2_df = pd.concat([
    data2_df,
    data5_df.sample(n=600)    
])

data2_df.shape

(3103, 8)

# Dress Items

- 1.v2i.tensorflow

In [74]:
train_df = pd.read_csv("../datasets/1.v2i.tensorflow/train/_annotations.csv")
test_df = pd.read_csv("../datasets/1.v2i.tensorflow/test/_annotations.csv")

train_df.shape, test_df.shape

((1593, 8), (934, 8))

In [75]:
data_dress_1 = pd.concat([train_df, 
                          test_df]) 
data_dress_1.shape

(2527, 8)

In [77]:
data_dress_1["class"].value_counts()

shoes                 547
halfsleeve_t-shirt    284
fullsleeve_hoodies    251
red_party_wear        250
blue_party_wear       239
sleeveless            168
women                 147
roundneck             114
blue_denim            106
men                    89
black_pants            69
black_suit             56
vneck                  55
grey_suit              45
brown_suit             44
blue_suit              36
yellow_suit            23
denim                   2
black_denim             1
gery_suit               1
Name: class, dtype: int64

In [78]:
data_dress = data_dress_1[data_dress_1["class"].isin(["red_party_wear", "blue_party_wear"])] 
data_dress.shape

(489, 8)